<mat-card-content>
    <mat-form-field class="input" id="nome">
        <mat-label for="nome">Nome:</mat-label>
        <input matInput type="text" name="nome" [(ngModel)]="usuario.nome" />
    </mat-form-field>
    <mat-form-field class="input" id="sobrenome">
        <mat-label for="sobrenome">Sobrenome:</mat-label>
        <input matInput type="text" name="sobrenome" [(ngModel)]="usuario.sobrenome" />
    </mat-form-field>
</mat-card-content>
<mat-card-content>
    <mat-form-field class="input" id="email">
        <mat-label for="email">Email:</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="usuario.email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="dataNascimento">Data de Nascimento:</mat-label>
        <input [(ngModel)]="usuario.dataNascimento" matInput [matDatepicker]="datepicker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
</mat-card-content>
<mat-card-content>
    <mat-form-field class="input" id="escolaridade">
        <mat-label for="escolaridade">Escolaridade:</mat-label>
        <mat-select [(ngModel)]="usuario.escolaridade">
            <mat-option *ngFor="let escolaridade of escolaridades" [value]="escolaridade">
                {{escolaridade}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-card-content>
<button class="btn-cadastrar" mat-raised-button color="primary" (click)="onSubmit()">
    Cadastrar
</button>
<button (click)="back()" mat-raised-button>
    Voltar
</button>